.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  background-color: rgb(230, 180, 115);
}
main.darkTheme {
  background-color: rgb(17, 15, 12);
  color: white;
}
main.greenTheme {
  background-color: rgb(3, 71, 0);
  color: rgb(238, 136, 136);
}
main.blueTheme {
  background-color: rgb(2, 7, 70);
  color: rgb(192, 7, 216);
}
