.App {
  font-family: sans-serif;
  text-align: center;
}

div.calculator {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
}
div.calculator input,
select,
button {
  padding: 7px;
}
div.counter button,
span {
  padding: 10px;
}
