.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(50, 160, 204);
}

div.navBar {
  display: flex;
  width: 100vw;
  height: 50px;
  padding: 10px;
  background-color: white;
}
div.navBar > button {
  border: 0;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}

div.navBar > button.active {
  border-bottom: 1px solid #34aaf3;
  color: #34aaf3;
}

img {
  width: 250px;
  max-height: 200px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

div.galery {
  display: flex;
  flex-wrap: wrap;
}

div.card {
  width: 250px;
  height: 400px;
  display: flex;
  background-color: lightgrey;
  flex-direction: column;
  border-radius: 20px;
  margin: 10px 10px 0px 10px;
}
div.card > p {
  padding: 10px 10px 0 10px;
  margin-bottom: 0;
  overflow: auto;
  overflow-wrap: break-word;
}
div.card > h3 {
  padding-left: 10px;
  margin-bottom: 0;
}
