.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  background-color: rgb(230, 180, 115);
}
main.darkTheme {
  background-color: rgb(17, 15, 12);
  color: white;
}
main.greenTheme {
  background-color: rgb(3, 71, 0);
  color: rgb(238, 136, 136);
}
main.blueTheme {
  background-color: rgb(2, 7, 70);
  color: rgb(192, 7, 216);
}
div.radButton {
  background-color: rgb(224, 219, 219);
  display: flex;
  height: 30px;
  width: 70px;
  padding: 5px;
  border-radius: 15px;
  justify-content: flex-start;
}
div.circleBtn {
  background-color: rgb(119, 119, 119);
  border-radius: 15px;
  height: 30px;
  width: 30px;
}

div.radButton.on {
  justify-content: flex-end;
}
