.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

img {
  width: 250px;
  max-height: 200px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

div.galery {
  display: flex;
  flex-wrap: wrap;
}

div.card {
  width: 250px;
  height: 400px;
  display: flex;
  background-color: lightgrey;
  flex-direction: column;
  border-radius: 20px;
  margin: 10px 10px 0px 10px;
}
div.card > p {
  padding: 10px 10px 0 10px;
  margin-bottom: 0;
  overflow: auto;
  overflow-wrap: break-word;
}
div.card > h3 {
  padding-left: 10px;
  margin-bottom: 0;
}

span.error {
  color: red;
  max-width: 120px;
}

input.error {
  border-color: red;
  color: red;
}

select.error {
  border-color: red;
}
div.divForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

form.logiform {
  background-color: rgb(219, 219, 219);
  padding: 10px;
  padding-bottom: 20px;
  border-top: 3px solid rgb(25, 188, 252) !important;
  border: 0px solid grey;
  width: 300px;
  box-shadow: 5px 5px 5px rgb(46, 45, 45);
}
form.logiform > div > div > select,
input {
  border-bottom: 1px solid rgb(190, 190, 190) !important;
  border: 0px solid black;
  max-width: 130px;
}

input:focus {
  outline: none;
  border-bottom: 1px solid rgb(44, 44, 44) !important;
}
select:focus {
  outline: none;
  border-bottom: 1px solid rgb(44, 44, 44) !important;
}

form.logiform > button {
  width: 100%;
  border: 0px solid black;
  background-color: rgb(33, 158, 189);
  padding: 10px;
}
form.logiform > div.row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 20px 0;
}
form.logiform > div.blockOfForm {
  width: 130px;
  display: flex;
  flex-direction: column;
}
form.logiform > div.row > div.blockOfForm {
  width: 130px;
  display: flex;
  flex-direction: column;
}
form.logiform > h3 {
  display: flex;
  justify-content: center;
}
